{% extends "base.html" %}

{% block content %}
<section id="about">
<h1>About This Demonstration</h1>
<p class="answer">In 2010, <em>The Bethesda System for Reporting Thyroid Cytopathology</em> atlas was released. The atlas is intended to supplement the synopsis (insert link) published following the National Cancer Institute Thyroid Fine Needle Aspiration State of the Science Conference. This demonstration application is intended to function as a prototype example of how a laboratory can provide a central, accessible explanation of its changing thyroid reports to the providers that it services as it adopts the recommended terminology.</p>
<h2>Open Source</h2>
<p>This application was developed using the <a href="http://www.python.org/">Python programming language</a> against the <a href="http://www.djangoproject.com/">Django web development framework</a>. The source code is BSD-licensed and is available on Github (insert link). I accept pull requests and patches if you would like to contribute.</p>
<h2>Disclaimer</h2>
<p>This web application is intended to serve as an educational demonstration and should not be used to direct patient care.</p>
<h2>ASC Meeting 2011</h2>
<p>This demonstration will be presented as part of a poster presentation at the ASC Cytopathology Meeting Nov. 4-8, 2011</p>
</section>

{% endblock %}
